# Pandas for Data Wrangling Assignment

*Learning Objectives*: By the end of this assignment, you should be familiar with essential Pandas operations for data wrangling. Essential skills such as API familiarity, debugging, and documentation referencing will prepare you well for data science/analysis interviews and roles.

## Background

***pandas*** is a Python software library for data manipulations and analysis. It allows data imports from a variety of file formats (including CSV, JSON, and Excel) and provides several data cleaning/wrangling features. Some common features include the DataFrame object with integrated indexing, label-based slicing/indexing/subsetting of very large datasets, and integrated handling of missing data. 

Pandas integrates well with other Python libraries, especially Numpy for numeric processing and Matplotlib for visualizations. 

For this assignment, imagine you are a data analyst for a vacation rental company, BearBNB, and tasked with handling various aspects of development in San Francisco. You are supplied with datasets on listings and ratings of properties in the area.

## Set Up
Running the following cell will allow us to use the most commonly used libraries that we are going to use for Data Analysis. The line `%matplotlib inline` allows us to show the graph after running a cell in which we plot a graph. That comes in really handy and is one of the powerful tools of Jupyter.

In [18]:
# import pandas library with pd as conventional alias
import pandas as pd
print(pd.__version__)

# import libraries that integrate well with pandas
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import zipfile

%matplotlib inline

1.0.5

### Shortcuts

Even if you are familiar with Jupyter, you are strongly encouraged to become proficient with keyboard shortcuts (this will save you time in the future). To learn about keyboard shortcuts, go to **Help --> Keyboard Shortcuts** in the menu above. 

Here are a few that we like:
1. `Ctrl` + `Return` : *Evaluate the current cell*
1. `Shift` + `Return`: *Evaluate the current cell and move to the next*
1. `ESC` : *command mode* (may need to press before using any of the commands below)
1. `a` : *create a cell above*
1. `b` : *create a cell below*
1. `dd` : *delete a cell*
1. `z` : *undo the last cell operation*
1. `m` : *convert a cell to markdown*
1. `y` : *convert a cell to code*

##  1. Importing and Cleaning Raw Data

A **CSV file**, or **comma-separated values file** is a delimited text file that separates values with commas. 

A **Pandas dataframe** is a 2D labeled data structure with columns of various data types. You could think of it as a dictionary of **Series** objects, or 1D labeled array of various. 

<img height=200 width=200 src='series.png'>
<img height=600 width=600 src='series_df.png'>

In this assignment, you will be mainly working with Pandas dataframes.

**Question 1.1** Using *pd.read_csv*, load the ratings and listings csv files into Pandas dataframes and display the first ten lines of each dataframe.

In [12]:
listings = pd.read_csv("listings.csv")
ratings = pd.read_csv("ratings.csv")

In [13]:
#TODO: Display the first 10 lines of listings
### start code ###

### end code ###

In [211]:
#TODO: Display the first 10 lines of ratings
### start code ###

### end code ###

<details>
    <summary>Solution</summary>
    <code>listings = pd.read_csv("listings.csv")
    ratings = pd.read_csv("ratings.csv")
    listings.head(10)
    ratings.head(10)</code>
</details>

**Question 1.2** What are the data types for each of the columns in listings?

In [14]:
#TODO: Display the data types of each column in each dataset
### start code ###

### end code ###

<details>
    <summary>Solution</summary>
    
    listings.dtypes
</details>

**Question 1.3** Generate descriptive statistics of all the columns (not just numerical) in listings.

*Hint: Pandas already provides a function for doing this for numerical data by default.*

In [15]:
#TODO: Display descriptive statistics for each column in listings
### start code ###

### end code ###

<details>
    <summary>Solution</summary>
    
    listings.describe(include='all')
</details>

**Question 1.4** Is there a difference in the statistics that you observe for numerical versus categorical columns? Write your observations in the box below.

<details>
    <summary>Solution</summary>
    
    For numeric data, we include count, mean, std, min, max as well as lower, 50 and upper percentiles.
    For categorical data, we include count, unique, top, and freq.
</details>

## 2. Data Cleaning

**Question 2.1** Firstly, we need to handle missing data. Implement `null_percentage`, a function that takes a dataframe object and counts the percentage of nulls in each of the columns.

In [214]:
def null_percentage(df):
    """
    Calculates the percentage of null values in a dataframe.
    
    args:
      df: dataframe object
                      
    returns:
      percent_missing: Series object containing each column's null percentage
      
    """
    #TODO: calculate the missing percentage for each column
    ### start code ###
    percent_missing =...
    ### end code ###
    return percent_missing

<details>
    <summary>Solution</summary>
    
    percent_missing = df.isnull().sum() * 100 / len(df)
</details>

Now let's display the percentage of nulls for listings and ratings.

In [216]:
listings_null = null_percentage(listings)
listings_null

Ellipsis

In [217]:
ratings_null = null_percentage(ratings)
ratings_null

Ellipsis

**Question 2.2** We need to handle missing data before performing any analysis since null values can skew the distribution of the features. To do this, you need to find a reasonable method of replacing or removing NaN values. In the boxes below, remove the null values and provide justification as to why the method you chose is reasonable.

In [1]:
#TODO: handle null values in listings
### start code ###


### end code ###

<details>
    <summary>Sample Solution</summary>
    <code>
    listings.drop(columns=['neighbourhood_group'], inplace=True)
    listings.dropna(inplace=True)</code>
</details>

Write your justifications below.

<details>
    <summary>Sample Solution</summary>
    
    We drop the column that's entirely null since it won't be useful at all. 
    If we look at the percentages of nulls in reviews per month and last review, they're exactly the same. This could indicate that they're missing data at the same records, a simple scan of these rows will confirm this. These rows will not be useful since they won't contain any information in the ratings dataset (missing or no reviews of the property). Thus we drop the rows with null values in either of these columns.
</details>

**Question 2.3** A quick scan of the <code>neighborhood</code> and <code>neighbourhood</code> columns indicate they are exactly the same. We don't want duplicates, so remove the <code>neighborhood</code> column. If you've done this in the previous step, feel free to skip this question.<br>
*Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html might be useful.*

In [2]:
#TODO: Remove the neighborhood column in the listings dataframe
### start code ###


### end code ###

<details>
    <summary>Solution</summary>
    <code>listings.drop(columns=["neighborhood"],inplace=True)</code>
</details>

## 3. Identifying Outliers
Determining outliers is one of the biggest challenges in cleaning data, but the performance of machine learning algorithms will be heavily affected if they aren't removed. The following section will focus on introducing different methods of identifying these data points.

**Question 3.1** As you are probably familiar with, the interquartile range can be used to measure statistical dispersion. Calculate the IQR of each of the numerical columns in `listings`.<br>
*Hint: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html might be useful.*

In [220]:
#TODO: Determine the IQR for each column in listings
### start code ###
Q1 =...
Q3 =...
IQR =...
print(IQR)

### end code ###

Ellipsis

<details>
    <summary>Solution</summary>
    <code>Q1 = listings.quantile(0.25)
Q3 = listings.quantile(0.75) 
IQR = Q3 - Q1 
print(IQR)  </code>
    
</details>

**Question 3.2** Similarly, implement `remove_outliers_IQR` to remove the rows that are outside `(Q1 - 1.5*IQR, Q3 + 1.5*IQR)` for columns `minimum_nights`, `number_of_reviews`, `reviews_per_month`, and `calculated_host_listings_count`. For this part, you are required to use `loc` to remove the outliers. Refer to https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html for more information on `loc`.

In [221]:
def remove_outliers_IQR(df, cols):
    """
    Calculates the percentage of null values in a dataframe.
    
    args:
      df: dataframe object
      cols: list of numerical columns in df that should be filtered
      
    returns:
      removed: df with outliers removed 
      
    """
    #TODO: remove outliers in df using loc
    removed = df
    ### start code ###

    ### end code ###
    return removed

numerical_columns = ['price','minimum_nights', 'number_of_reviews', 'reviews_per_month',
                     'calculated_host_listings_count']
listings = remove_outliers_IQR(listings, numerical_columns)
listings.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,958,"Bright, Modern Garden Unit - 1BR/1BTH",1169,Holly,NaN,Western Addition,37.76931,-122.43386,Entire home/apt,131,2,262,2020-09-16,1.92,1,206
1,5858,Creative Sanctuary,8904,Philip And Tania,NaN,Bernal Heights,37.74511,-122.42102,Entire home/apt,235,30,111,2017-08-06,0.80,1,365
2,7918,A Friendly Room - UCSF/USF - San Francisco,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,19,2020-03-06,0.14,9,365
3,8014,Newly Remodeled room in big house WIFI market,22402,Jia,NaN,Outer Mission,37.73075,-122.44841,Private room,45,5,85,2018-10-01,0.85,2,45
4,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,21994,Aaron,NaN,Haight Ashbury,37.76555,-122.45213,Private room,56,32,8,2018-09-12,0.11,9,365
5,8339,Historic Alamo Square Victorian,24215,Rosy,NaN,Western Addition,37.77525,-122.43637,Entire home/apt,743,5,28,2019-06-28,0.21,2,0
6,8739,"Mission Sunshine, with Private Bath",7149,Ivan & Wendy,NaN,Mission,37.76030,-122.42197,Private room,169,1,736,2020-03-16,5.41,2,179
7,10251,Victorian Suite in Inner Mission,35199,Roman & Sarah,NaN,Mission,37.75831,-122.41386,Entire home/apt,200,30,337,2019-05-27,2.50,1,365
8,10578,Classic Nob Hill Studio - Roof Deck,37049,Andrew,NaN,Nob Hill,37.79143,-122.41544,Entire home/apt,120,30,18,2015-05-17,0.17,1,364
9,10820,Haight Buena Vista Park Garden 3BR,38836,Bernat,NaN,Haight Ashbury,37.77187,-122.43859,Entire home/apt,170,30,37,2018-12-01,0.28,38,73

<details>
    <summary>Solution</summary>
    <code>for name in numerical_columns:
        Q1 = df[name].quantile(0.25)
        Q3 = df[name].quantile(0.75)
        IQR = Q3-Q1
        lower = Q1 - 1.5*IQR
        upper = Q3 + 1.5*IQR
        removed = removed.loc[(removed[name] > lower) & (removed[name] < upper)] </code>
        
</details>

## 4. Data manipulation
**Question 4.1** Perhaps we want to segment the dataset based on neighborhood. Using `groupby()`, create a dataframe called `listings_neighborhoods` that's indexed by each unique neighborhood and have the numerical columns aggregated by their means. Reference to `groupby`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html.

In [223]:
listings_neighborhoods =...

<details>
    <summary>Solution</summary>
    <code>listings_neighborhoods = listings.groupby(["neighbourhood"]).agg(np.mean) </code>
        
</details>

**Question 4.2** Using `transform()`, try standardizing each column in the groupby dataframe we just created. Reference to `transform`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html.

In [224]:
neighborhoods_standardized =...

<details>
    <summary>Solution</summary>
    <code>neighborhoods_standardized = listings_neighborhoods.transform(lambda x: (x - x.mean()) / x.std())</code>
        
</details>

**Question 4.3** Using any method, identify the highest price of each room type.

In [225]:
listings_rooms =...

<details>
    <summary>Solution</summary>
    <code>listings_rooms = listings.loc[listings.groupby('room_type')['price'].idxmax()]</code>
        
</details>

**Question 4.4** What are the similarities and differences between **aggregating, filtering, and transforming** grouped objects?<br>
*Hint: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#aggregation might be useful.*

<details>
    <summary>Solution</summary>
    Aggregating is a part of the split, apply, and combine process. First the data is split into groups, then one or more functions are applied to each group. The result is aggregated by the agg() function and returned as a series that can be converted to a datagrame via reset_index.<br>
    <br>
    Transforming utilizes an extra step between applying and combining called broadcasting. This is where the results of sub dataframes (groups) are broadcasted to the original, full dataframe. You can think of this as a left merge of the results with the original dataset.<br>
    <br>
    Filtering takes one step further and filters between applying and broadcasting. Now our process looks like: split->apply->filter->broadcast->combine. As the name suggests, the results of splitting and applying are filtered to meet a certain criteria and those rows meeting the criteria are broadcasted to the original table.
        
</details>

**Question 4.5** You've probably noticed that one of the columns in our `listings` dataframe appears to be a date column. When we ran `listings.dtypes` earlier, there wasn't any `datetime` type. This is because of `read_csv()` and the fact that csv files only contain integers, strings, and floats. At load time, is there any way of converting a date column to datetime? Refer to https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html for documentation on `read_csv`.

<details>
    <summary>Solution</summary>
    Yes, Pandas provides a keyword argument for read_csv(), parse_dates for this functionality. Creating a custom parser might be necessary.
        
</details>

**Question 4.6** Check if any of the columns are in a datetime format already.

In [3]:
from pandas.api.types import is_datetime64_any_dtype as is_datetime
#TODO: Check for the existence of datetime type columns in listings
### start code ###


### end code ###

<details>
    <summary>Solution</summary>
    <code>listings[[column for column in listings.columns if is_datetime(listings[column])]]</code>
        
</details>

**Question 4.7** Now convert the `last_review` column into a datetime format. Specify the formatting of the datetime column manually instead of letting Pandas infer it.

In [4]:
#TODO: Convert last_review column to datetime
### start code ###


### end code ###

<details>
    <summary>Solution</summary>
    <code>listings['last_review'] = pd.to_datetime(listings['last_review'], format = '%Y-%m-%d')</code>
        
</details>

## 5. Pivoting and Joins
It's important to understand different ways you can restructure your dataframe. This includes reshaping the dataframe based on columns or joining with a new dataframe.<br>
**Question 5.1** Using <code>pivot_table</code>, create a dataframe containing the average price, reviews per month, and availability for each room type per each unique neighborhood. Documentation on `pivot_table`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html.

In [ ]:
#TODO: Use pivot_table to create a dataframe containing the average price,
#reviews per month, and availability for each room type per each unique neighborhood.
### start code ###


### end code ###

<details>
    <summary>Solution</summary>
    <code>pd.pivot_table(listings, values = ['price', 'reviews_per_month', 'availability_365'], index = ['neighbourhood', 'room_type'],aggfunc= np.mean)</code>
        
</details>

**Question 5.2** What's the difference between `pivot` and `pivot_table`?

<details>
    <summary>Solution</summary>
    Pivot provides general functionality for pivoting with general data types while pivot_table allows us to pivot with numerical aggregation.
        
</details>

**Question 5.3** Recall that our `ratings` dataframe contains recorded ratings for listing ids. In order to join this dataframe with `listings` we need a shared column. Naturally, we should choose the listing id since this is a unique identifier for each property. Using the tools from this homework, transform `ratings` to contain unique property ids and their average ratings.

In [227]:
ratings =...

<details>
    <summary>Solution</summary>
    <code>ratings = pd.pivot_table(ratings, values = ['rating'], index = ['listing_id'], aggfunc = np.mean)</code>
        
</details>

**Question 5.4** Now join `listings` with `ratings`. Call the ratings column, `average_rating`. As a sanity check, make sure there are no null values in the entire joined dataframe. Refer to https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html.

In [228]:
listings_full =...

<details>
    <summary>Solution</summary>
    <code>listings_full = listings.join(ratings, on='id')</code><br>
    <code>listings_full.rename(columns = {'rating':'average_rating'}, inplace=True)</code>
</details>

## 6. One-hot encoding
To prepare our data to be input into a model, we should one-hot encode the categorical variables that we're using. Pandas provides `get_dummies` for this functionality. See https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html for more information.<br>
**Question 6.1** One-hot encode `room_type` in `listings_full`.

In [5]:
#TODO: One-hot encode `room_type` in `listings_full`.
### start code ###

### end code ###

<details>
    <summary>Solution</summary>
    <code>pd.get_dummies(listings_full, columns=['room_type'])</code>
</details>

## 7. Putting it all together
In this last section, you'll have an opportunity to use the Pandas tools that you've learned in this assignment as well as utilize other tools you may have learned from the documentation.

**Question 7** Now that we've compiled a single, clean dataset on vacation rental properties, BearBNB wants to hear your recommendations. In particular, provide a consulting strategy on how they should invest their resources. This question is meant to be open ended, but provide evidence and visualizations to back your claims.

In [ ]:
### start code ###


### end code ###

<details>
    <summary>Solution</summary>
    Any attempt that contains a valid segmentation of the dataset along with descriptive statistics of the categories is accepted. This can include neighborhoods, room types, reviews, etc. 
</details>